body {
  background-color: #64A4EA;
  /* background-image: linear-gradient(to right top, #78cce0, #8ccfcf, #a4d0c3, #bad0bf, #cad0c3); */
}
  .container {

  width: 95%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 40px;
}

h2 {
  font-size: 45px;
  margin: 20px 0;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 18px 20px;  /* top/bottm & left/right */
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }
  .table-header {
    background-color: #d1dbdb;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: center;
    font-size: 15px;
    font-weight:500;
  }
  .table-row {
    text-align: center;
    background-color: #faf6f6;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 8%;
  }
  .col-2 {
    flex-basis: 25%;
  }
  .col-3 {
    flex-basis: 26%;
  }
  .col-4 {
    flex-basis: 25%;
  }
  .col-5 {
    flex-basis: 30%;
  }
  .col-6 {
    flex-basis: 15%;
  }
  .col-7 {
    flex-basis: 15%;
  }
  
}


.btn{
  cursor: pointer;
  background-color: #2F58CD;
  border: hidden;
  height: 40px;
  width: 160px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
  color: white;
}


.btn:hover {
  transform: scale(1.05);
}

#field-row{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.del-btn{
  cursor: pointer;
  background-color: #2F58CD;
  border: hidden;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: white;
}

#pop-up{
  text-align: center;
}

img{
 
  height: 2em;
  width:2em;
}
img:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.bttn{
  background: none;
  border: hidden;
}


sup{
  color: red;
  padding-left: 2px;
  font-size: 18px;
}
