{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Form</title>
    <link rel="stylesheet" href="{% static 'css/FormCss.css' %}">

</head>
<body>
 
          <div class="title">Job Application Form</div>
  
        <div class="formContainer">

            {% if messages %}
            <table>
                <div id="field-row">
                   
                        <tr colspan=3><th>
                            {% for message in messages %}
                          {{message}}
                          {% endfor %}
                        </th> </tr>
                   
                </div>
        
                <div id="field-row">
                    <form action="{% url 'index'%}" method="POST">
                        {% csrf_token %}
                    <tr>
                        <th>
                        <input type="submit" value="Back to Home" class="submit"></th>
                    </form> 
                    </tr>
                </div>
                </table>
           
                </div>
            {% else %}

           
            <form action="{% url 'add_user' %}" id="form" method="POST"> 
                {% csrf_token %}
                <div id="field-row1">
                    <label for="">Full Name<sup>*</sup></label></div>
                <div id="field-row4">
                    <input type="text" name="fullname" id="fullname" placeholder="Enter your full name" class="" >
                   
                </div> 
                <div id="error-fname"></div>
                <div id="field-row1">
                    <label for="">Contact No<sup>*</sup></label></div>
                <div id="field-row1">
                    
                    <select name="country-code" id="" required>
                        <option value="+91">+91</option>
                        <option value="+1">+1</option>
                    </select>
                    <input type="text" placeholder="Enter your phone number" id="phone-number" name="phone-inp" class="phone" >   </div>
                    <div id="error-phone"></div>
                    <div id="field-row1">
                        <label for="">Email Address<sup>*</sup> </label></div>
                    <div id="field-row1">
                        <input type="text" placeholder="Enter your valid email address" id="email" name="email" >
             
                    </div>
                    <div id="error-email"></div>

                <div id="field-row1">
                        <label for="">Date Of Birth<sup>*</sup></label> </div>
                <div id="field-row1"> <input type="text" name="dob" id="dob" placeholder="Enter your date of birth" onfocus="(this.type='date')" onblur="(this.type='text')"></div>
                <div id="error-dob"></div>   
                   
                    <div id="field-row1">
                        <label for="">Gender</label> 
                    </div>
                    <div id="field-row5">              
                        <input type="radio" name="gender" id="male" value="male" class="gender" ><span>Male</span>
                        <input type="radio" name="gender" id="female" value="female" class="gender" > <span>Female</span>
                        <input type="radio" name="gender" id="others" value="others" class="gender" > <span>Others</span>
                    
                </div>
                <div id="error-gender"></div>

                <div id="field-row1">
                    <label for="">Experience </label>
                    </div>
                    <div id="field-row">
                        <div></div>
                        <select name="experience-years" id="experience-years" >
                            <option value="">Years</option>
                            <option value="0">Fresher</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="9+">9+</option>
                        </select>
                        <select name="experience-months" id="experience-months" >
                            
                            <option value="">Months</option>
                            <option value="0">Fresher</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="9+">9+</option>
                        </select>
                    </div>
                    <div id="error-exp"></div>
                    <div id="field-row1">
                        <label for="">Preferred Role</label></div>
                    <div id="field-row4">
                 
                        <select name="job-role" id="job-role" >
                            <option value="">Role</option>
                            <option value="UI / UX Designer">UI / UX Designer</option>
                            <option value="Front End Developer">Front End Developer</option>
                            <option value="Back End Developer">Back End Developer</option>
                            <option value="Software Tester">Software Tester</option>
                            <option value="Project Manager">Project Manager</option>
                     
                    </select>    
                    </div>
                    <div class="errors"></div>
                <div id="field-row1">
                    <label for="">Address</label></div>
                <div id="field-row4">
                    <input type="text" name="address-line-1" id="address-line-1" placeholder="Address Line 1" class="address-line">
                   
                </div>
             
                <div id="field-row4">
                    <input type="text" name="address-line-2" id="address-line-2" placeholder="Address Line 2 (optional)" class="address-line">
                   
                </div>
             
                <div id="field-row4">
                  <input type="text" name="city" id="city" placeholder="City">
                </div>
                <div id="field-row4">
                    <input type="text" name="state" id="state" placeholder="State">
                  </div>
                  <div id="field-row4">
                    <input type="text" name="country" id="country" placeholder="Country">
                  </div>
                  <div id="field-row4">
                    <input type="text" name="zipcode" id="zipcode" placeholder="Zip Code">
                  </div>
    
                <div id="field-row1">
                    <input type="submit" value="Submit" class="submit">
                </div>




            </div>
         </div>
 
      </form>
      {% endif %} 
        </div>     

        <script defer type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>
</html>