{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Form</title>
    <link rel="stylesheet" href="{% static 'css/FormCss.css' %}">

</head>
<body>
        <div id="field-row">
          <h2 class="title">Job Application Form</h2>
        </div>
        <div id="field-row">
        
            <form action="{% url 'index' %}">
                <input type="submit" value="Back to Home" class="submit">
            </form>
        </div>
        <div class="formContainer">
            {% block body %}
            {% endblock body %}
        </div>     

        <script defer type="text/javascript" src="{% static 'js/newIndex.js' %}"></script>
</body>
</html>