{% extends "jobapp/Base.html" %}

{% block body %}


            {% if messages %}
            <table>
                <div id="field-row">
                   
                        <tr colspan=3><th>
                            {% for message in messages %}
                          {{message}}
                          {% endfor %}
                        </th> </tr>
                   
                </div>
        
                <div id="field-row">
                    <form action="{% url 'index'%}" method="POST">
                        {% csrf_token %}
                    <tr>
                        <th>
                        <input type="submit" value="Home" class="submit"></th>
                    </form> 
                    </tr>
                </div>
                </table>
           
                </div>
            {% else %}

            {% for detail in details %}
            <form action="{% url 'edit' detail.id %}" id="form" method="POST"> 
                {% csrf_token %}
                <div id="field-row1">
                    <label for="">Full Name<sup>*</sup></label></div>
                <div id="field-row4">
                    <input type="text" name="fullname" id="fullname" value="{{detail.full_name}}" class="" >
                   
                </div> 
                <div id="error-fname"></div>
                <div id="field-row1">
                    <label for="">Contact No<sup>*</sup></label></div>
                <div id="field-row1">
                    
                    <select name="country-code" id="" required>
                        <option value="+91">+91</option>
                        <option value="+1">+1</option>
                    </select>
                    <input type="text" placeholder="Phone" id="phone-number" name="phone-inp" class="phone" value="{{detail.phone_number}}">   </div>
                    <div id="error-phone"></div>
                    <div id="field-row1">
                        <label for="">Email Address <sup>*</sup></label></div>
                    <div id="field-row1">
                        <input type="text" placeholder="Email address" id="email" name="email" value="{{detail.email_id}}">
             
                    </div>
                    <div id="error-email"></div>

                <div id="field-row1">
                        <label for="">Date Of Birth<sup>*</sup></label> </div>
                <div id="field-row1"> <input type="date" name="dob" id="dob" value="{{detail.dob|date:"Y-m-d"}}" ></div>
                <div id="error-dob"></div>   
                   
                    <div id="field-row1">
                        <label for="">Gender</label> 
                    </div>
                    <div id="field-row5">              
                        <input type="radio" name="gender" id="male" value="male" {% if detail.gender == "male" %} checked {% endif %} class="gender" ><span>Male</span>
                        <input type="radio" name="gender" id="female" value="female" {% if detail.gender == "female" %} checked {% endif %} class="gender" > <span>Female</span>
                        <input type="radio" name="gender" id="others" value="others" {% if detail.gender == "others" %} checked {% endif %} class="gender" > <span>Others</span>
                    
                </div>
                <div id="error-gender"></div>

                <div id="field-row1">
                    <label for="">Experience </label>
                    </div>
                    <div id="field-row">
                        <div></div>
                        <select name="experience-years" id="experience-years" >
                        
                            <option value="0" {% if detail.years == "0" %}selected{% endif %}>Fresher</option>
                            <option value="1" {% if detail.years == "1" %}selected{% endif %}>1</option>
                            <option value="2" {% if detail.years == "2" %}selected{% endif %}>2</option>
                            <option value="3" {% if detail.years == "3" %}selected{% endif %}>3</option>
                            <option value="4" {% if detail.years == "4" %}selected{% endif %}>4</option>
                            <option value="5" {% if detail.years == "5" %}selected{% endif %}>5</option>
                            <option value="6" {% if detail.years == "6" %}selected{% endif %}>6</option>
                            <option value="7" {% if detail.years == "7" %}selected{% endif %}>7</option>
                            <option value="8" {% if detail.years == "8" %}selected{% endif %}>8</option>
                            <option value="9" {% if detail.years == "9" %}selected{% endif %}>9</option>
                            <option value="9+" {% if detail.years == "9+" %}selected{% endif %}>9+</option>
                            
                        </select>
                        <select name="experience-months" id="experience-months" >
                            
                            <option value="0" {% if detail.years == "0" %}selected{% endif %}>Fresher</option>
                            <option value="1" {% if detail.years == "1" %}selected{% endif %}>1</option>
                            <option value="2" {% if detail.years == "2" %}selected{% endif %}>2</option>
                            <option value="3" {% if detail.years == "3" %}selected{% endif %}>3</option>
                            <option value="4" {% if detail.years == "4" %}selected{% endif %}>4</option>
                            <option value="5" {% if detail.years == "5" %}selected{% endif %}>5</option>
                            <option value="6" {% if detail.years == "6" %}selected{% endif %}>6</option>
                            <option value="7" {% if detail.years == "7" %}selected{% endif %}>7</option>
                            <option value="8" {% if detail.years == "8" %}selected{% endif %}>8</option>
                            <option value="9" {% if detail.years == "9" %}selected{% endif %}>9</option>
                            <option value="9+" {% if detail.years == "9+" %}selected{% endif %}>9+</option>

                        </select>
                    </div>
                    <div id="error-exp"></div>
                    <div id="field-row1">
                        <label for="">Preferred Role<sup>*</sup></label></div>
                    <div id="field-row4">
                 
                        <select name="job-role" id="job-role" >
                            <option value="UI / UX" {% if detail.job_role == "UI / UX" %}selected{% endif %}>UI / UX</option>
                            <option value="Front End Developer" {% if detail.job_role == "Front End Developer" %}selected{% endif %}>Front End Developer</option>
                            <option value="Back End Developer" {% if detail.job_role == "Back End Developer" %}selected{% endif %}>Back End Developer</option>
                            <option value="Software Tester" {% if detail.job_role == "Software Tester" %}selected{% endif %}>Software Tester</option>
                            <option value="Project Manager" {% if detail.job_role == "Project Manager" %}selected{% endif %}>Project Manager</option>
                     
                    </select>    
                    </div>
                    <div class="errors"></div>
                <div id="field-row1">
                    <label for="">Address</label></div>
                <div id="field-row4">
                    <input type="text" name="address-line-1" id="address-line-1" value="{{detail.address_line_1}}" class="address-line">
                   
                </div>
             
                <div id="field-row4">
                    <input type="text" name="address-line-2" id="address-line-2" value="{{detail.address_line_2}}" class="address-line">
                   
                </div>
             
                <div id="field-row4">
                  <input type="text" name="city" id="city" value="{{detail.city}}">
                </div>
                <div id="field-row4">
                    <input type="text" name="state" id="state" value="{{detail.state}}">
                  </div>
                  <div id="field-row4">
                    <input type="text" name="country" id="country" value="{{detail.country}}">
                  </div>
                  <div id="field-row4">
                    <input type="text" name="zipcode" id="zipcode" value="{{detail.zip_code}}">
                  </div>
    
                <div id="field-row1">
                    <input type="submit" value="Submit" class="submit">
                </div>




            </div>
         </div>
 
      </form>
      {% endfor %}
      {% endif %} 
 
{% endblock body %}